<div class="w-full flex justify-end items-center">
  <div
    class="h-[100px] px-7 py-2 flex justify-between items-center gap-x-5 bg-[#F2F7FC] rounded-2xl border-[1px] border-[#E1E8EF] shadow"
  >
    <a *ngFor="let nav of headerList" [routerLink]="nav.link">
      <div
        [ngClass]="{
          'w-20 h-20 rounded-2xl flex flex-col justify-center items-center': true,
          'bg-[#E1E8EF] text-[#000000] bg-gradient-hover': !getActiveUrl(
            nav.link
          ),
          'bg-gradient text-[#FFFFFF]': getActiveUrl(nav.link)
        }"
      >
        <i class="material-icons">{{ nav.icon }}</i>
        <span class="text-xs font-semibold">{{
          nav.title | upperCaseFirstLeter
        }}</span>
      </div>
    </a>
  </div>
</div>
