<div
  class="py-8 px-10 flex flex-col justify-start items-start gap-9 bg-white rounded-2xl flex-1 w-full h-full"
>
  <div class="flex justify-start items-center w-full">
    <span class="text-[#0B0909] text-[40px] font-medium">Contact</span>
    <div class="bg-gradient w-[200px] h-[2px] rounded-full ml-8"></div>
  </div>

  <div class="flex justify-between items-stretch w-full">
    <div
      class="w-[49%] p-5 rounded-2xl bg-[#FFEED9] flex flex-col justify-start items-start gap-2"
    >
      <div class="flex justify-start items-center gap-2">
        <i class="material-icons text-[#FF9C1A]">phone</i>
        <span class="text-lg font-medium">Phone:</span>
      </div>
      <div class="flex flex-col justify-start items-start gap-1 pl-6">
        <span> +254723909353</span>
        <span> +254723909353</span>
      </div>
    </div>

    <div
      class="w-[49%] p-5 rounded-2xl bg-[#F2F7FC] flex flex-col justify-start items-start gap-2"
    >
      <div class="flex justify-start items-center gap-2">
        <i class="material-icons text-[#FF9C1A]">email</i>
        <span class="text-lg font-medium">Email:</span>
      </div>
      <div class="flex flex-col justify-start items-start gap-1 pl-6">
        <span>thanhlckgmail.com</span>
      </div>
    </div>
  </div>

  <div
    class="bg-[#F8FBFB] rounded-xl w-full flex flex-col justify-start items-start p-8 gap-4"
  >
    <span class="text-[16px] opacity-80 font-normal"
      >I am always open to discussing
      <strong>new projects, opportunities in tech world</strong>, partnerships
      and more so mentorship.
    </span>
    <div class="flex flex-col w-full justify-start items-start gap-1">
      <label class="font-semibold opacity-80">Name :</label>
      <input class="outline-none border-b w-full bg-transparent p-1" />
    </div>
    <div class="flex flex-col w-full justify-start items-start gap-1">
      <label class="font-semibold opacity-80">Email :</label>
      <input class="outline-none border-b w-full bg-transparent p-1" />
    </div>
    <div class="flex flex-col w-full justify-start items-start gap-1">
      <label class="font-semibold opacity-80">Note :</label>
      <input class="outline-none border-b w-full bg-transparent p-1" />
    </div>

    <button class="px-5 py-2 rounded-full border border-[#FD8A18] border-t-0 active:bg-[#f8d3ae] font-semibold">
      Submit
    </button>
  </div>
</div>
